@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

body{
	font-family: 'Loto', sans-serif;
}

body, html{
	height: 100%;
}

.roboto{
	font-family: Roboto;
}

/*.bg-grad{
	background: linear-gradient(116.82deg, #59514F 0%, #8B5C02 100%);
	height: 100%;
	position: relative;
}*/

.text-small{
	font-size: 0.7rem;
}

.text-service{
	color: #DAC483;
}

.service{
	font-style: normal;
	font-weight: 300;
}

.btn-about{
	background-color: #DAC483;
	color: #8B5C02;
}

.btn-contact{
	background-color: #DAC483, opacity: 0;
	border-color: #DAC483;
	color: #DAC483;
}

.brown{
	color: #8B5C02;
}

.subtitle{
	letter-spacing: 0.2rem;
	margin-top: -1rem;
}

.span-title{
	letter-spacing: 0.2rem;
	margin-bottom: 2rem;
}
	.span-title span{
		border-bottom:solid 0.25rem #59514F;
	}

.text-decoration-none{
 	text-decoration: none !important;
 	color: #000;
}

.img-hotel{
	max-height: 400px;
	width: 500px;
}

.divider-brand{
	border-bottom:solid 0.25rem #8B5C02;
	width: 100%;
}

.h-95{
	height: 95%;
}

.w-60{
	width: 60%;
}

.bg-about{
	box-sizing: border-box;
	background: linear-gradient(305.27deg, #DAC483 51.13%, #A6892D 109.55%);
	border: 1px 1px 0 1px solid #000;
	border-radius: 0 75px 0 75px;
}

.margin-about{
	margin: 2.5rem 2.5rem 2.5rem 2.5rem;
}

.margin-about-right{
	margin: 4rem 2.5rem 2.5rem 2.5rem;
}


.margin-mission{
	margin-top: -0.5rem;
}

.leader-photo{
	width: 25%;
}

.margin-leader{
	margin-bottom: 0;
}

@media (max-width:600px){
	.margin-about-right{
		margin: 2.5rem;
	}

	.leader-photo{
		width: 100%;
	}

	.margin-leader{
		margin-bottom: 2rem;
	}
}