@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

body{
	font-family: 'Loto', sans-serif;
}

.text-small{
	font-size: 0.7rem;
}

.subtitle{
	letter-spacing: 0.2rem;
	margin-top: -1rem;
}

.span-title{
	letter-spacing: 0.2rem;
	margin-bottom: 2rem;
}
	.span-title span{
		border-bottom:solid 0.25rem #59514F;
	}

.text-decoration-none{
 	text-decoration: none !important;
 	color: #000;
}

.img-hotel{
	max-height: 400px;
	width: 500px;
}

.divider-brand{
	border-bottom:solid 0.25rem #8B5C02;
	width: 100%;
}

.h-95{
	height: 95%;
}

.w-60{
	width: 60%;
}